<%-include("./partials/header.ejs")%>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores hic quod impedit odio quibusdam dicta dignissimos id deleniti velit. Tempore rerum nam odit voluptatibus facere maiores magnam tempora officia perferendis!
    </div>
</body>