<%- include("./partials/header.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>
    <div class="conatct content">
        <b>Contact Us: </b> <span>+91XXXXXXXX</span>
    </div>
</body>